.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3em;
  margin-bottom: 5em;
  padding: 0;
  height: 100%;
  width: 93vw;
  background-image: linear-gradient(45deg, #cacaca 25%, #f0f0f0 25%, #f0f0f0 50%, #cacaca 50%, #cacaca 75%, #f0f0f0 75%, #f0f0f0 100%);
  background-size: 56.57px 56.57px;
}

.containerDynamic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  min-width: 360px;
  padding: 1em;
}

.topField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.itemsPerPageContainer, .searchFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: none;
}

@media (max-width: 850px) {
  .topField {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .itemsPerPageContainer, .searchFields {
    margin-top: 0.5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#itemsPerPage {
  border: none;
  color: #F0DB4F;
  background-color: #323330;
}

.updateItemsPerPage, .searchBtn {
  background-color: #323330;
  border-radius: 900px;
  color: #F0DB4F;
  border: none;
  width: 6em;
  height: 2em;
  margin-left: 1em;
}

.forPagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pageNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #5a5560;
  margin: 0 0.2em;
  padding: 0.2em;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.pageNumber:hover {
  background-color: #5a5560;
  color: #F0DB4F;
}

.pageNumberActive {
  background-color: #F0DB4F;
  color: #5a5560;
}

.noSearchResultBackToContents {
  cursor: pointer;
  color: #543e5d;
}

.tabletContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
  margin: 1em auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.itemsFromDb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 335px;
  height: 335px;
  margin: 0.2em;
  margin-bottom: 1em;
  padding: 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border: 5px solid lightgrey;
  border-radius: 1em;
  -webkit-box-shadow: 3px 3px 12px #323330;
          box-shadow: 3px 3px 12px #323330;
}

@media (max-width: 800px) {
  .itemsFromDb {
    width: 100%;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    border: 2px solid lightgrey;
    border-radius: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
}

.cardSideB {
  display: none;
}

.cardSideA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0.4em auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.blogPostImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 200px;
  max-width: 100%;
  margin: auto;
}

.blogPostHeader {
  font-weight: 900;
  margin: 1em auto;
}

.blogPostContent {
  text-align: justify;
}

.itemsFromDb:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.itemsFromDb:hover .cardSideB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0.1em 0.2em;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  scrollbar-width: none;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.itemsFromDb:hover .cardSideB::-webkit-scrollbar {
  display: none;
}

.itemsFromDb:hover .cardSideA {
  display: none;
}

.blogPostDate {
  font-size: 0.8em;
}
/*# sourceMappingURL=blog.css.map */