// Setting up the colours
$colors: (
    primary: #F0DB4F,
    secondary: #46344E,
    third: #5a5560,
    accent:  #323330,
    bright: #f0f0f0,
    //light function (normal css funciton, lightens the color by the % amount)
    secondary-light: lighten(#46344E, 5%),
    secondary-dark: darken(#46344E, 5%),
    third-light: lighten(#5a5560, 5%),
    third-dark: darken(#5a5560, 5%),
    accent-light: lighten(#323330, 5%),
    accent-dark: darken(#323330, 5%),
    bright-dark: darken(#f0f0f0,10%),
    
    redish: #fb4848,
    redish-trans: #fb4848a5,
    redish-light: lighten(#fb4848, 5%),
    redish-dark: darken(#fb4848, 5%),
    greenish: #48a148,
    greenish-trans: #48a148a5,
    greenish-light: lighten(#48a148, 5%),
    greenish-dark: darken(#48a148, 5%),
    blueish: #4848fb,
    blueish-trans: #4848fba5,
    blueish-light: lighten(#4848fb, 5%),
    blueish-dark: darken(#4848fb, 5%)
);

// color function
@function color($colorName){
    @return map-get($colors, $colorName)
    // ---------------
    // so whenever we call a call a color we dont need to call map-get($colors...)
    // we can call color(primary) for example
}


.blogContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 5em;
    padding: 0;
    height: 100%;
    width: 90%;
    background-image: linear-gradient(45deg, #cacaca 25%, #f0f0f0 25%, #f0f0f0 50%, #cacaca 50%, #cacaca 75%, #f0f0f0 75%, #f0f0f0 100%);
    background-size: 56.57px 56.57px;
}

.containerDynamic{
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 360px;
    padding: 1em;
}

.topField{
    display: flex;
    justify-content: space-between;
}

.itemsPerPageContainer, .searchFields{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: none;
}

@media(max-width:850px){
    .topField{
        flex-direction: column;
    }

    .itemsPerPageContainer, .searchFields{
        margin-top: 0.5em;
        justify-content: center;
        align-items: center;
    }
}

#itemsPerPage{
    border: none;
    color: color(primary);
    background-color: color(accent);
    
}


.updateItemsPerPage, .searchBtn{
    background-color: color(accent);
    border-radius: 900px;
    color: color(primary);
    border: none;
    width: 6em;
    height: 2em;
    margin-left: 1em;
}


.forPagination{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pageNumber{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid color(third);
    margin: 0 0.2em;
    padding: 0.2em;
    cursor: pointer;
    height: 15px;
    width: 15px;
}

.pageNumber:hover{
    background-color: color(third);
    color: color(primary);
}

.pageNumberActive{
    background-color: color(primary);
    color: color(third);
}

.noSearchResultBackToContents{
    cursor: pointer;
    color: color(secondary-light);
}

// -------------------------------------------For Blog Content-------------------------------------------


.tabletContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 1em auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.itemsFromDb{
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 335px;
    margin: 0.2em;
    margin-bottom: 1em;
    padding: 0.5em;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    
    transition: transform 0.8s;
    transform-style: preserve-3d;

    backdrop-filter: blur(3px);
    
    border: 5px solid lightgrey;
    border-radius: 1em;
    box-shadow: 3px 3px 12px color(accent);
}


// -------------HTML ITEMS FROM JS------------------------------

.cardSideB{
    display: none;
}


.cardSideA{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0.4em auto;
    padding: 0;
    justify-content: center;
    box-sizing: border-box;
    backdrop-filter: blur(3px);
}

.blogPostImage{
    display:flex;
    width: auto;
    height: 200px;
    max-width: 100%;
    margin: auto;
}

.blogPostHeader{
    font-weight: 900;
    margin: 1em auto;
}

.blogPostContent{
    text-align: justify;
}


// --------Rotate----------

.itemsFromDb:hover{
    transform: rotateY(180deg);
}

.itemsFromDb:hover .cardSideB{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0;
    align-content: flex-start;
    box-sizing: border-box;
    overflow-y: scroll;

    scrollbar-width: none;
    transform: rotateY(180deg);
    backdrop-filter: blur(3px);

    &::-webkit-scrollbar{
        display: none;
    }
}


.itemsFromDb:hover .cardSideA{
    display: none;
}

.blogPostDate{
    font-size: 0.8em;
}



// -----------FOR SMALLER DEVICES---------------
@media(max-width:800px){
    .blogContainer{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .itemsFromDb{
        width: 100%;
    transition: transform 0.8s;
    
    border: 2px solid lightgrey;
    
    backdrop-filter: none;
    }
}