.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3em;
  margin-bottom: 5em;
  padding: 0;
  height: 100%;
  width: auto;
}

.containerDynamic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vw;
  min-width: 360px;
  padding: 1em;
}

.topField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.itemsPerPageContainer, .searchFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 850px) {
  .topField {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .itemsPerPageContainer, .searchFields {
    margin-top: 0.5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#itemsPerPage {
  border: none;
  color: #F0DB4F;
  background-color: #323330;
}

.updateItemsPerPage, .searchBtn {
  background-color: #323330;
  border-radius: 900px;
  color: #F0DB4F;
  border: none;
  width: 6em;
  height: 2em;
  margin-left: 1em;
}

.tabletContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 2em;
}

.itemsFromDb {
  margin: 0.2em;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 0em 0em;
}

.forPagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pageNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #5a5560;
  margin: 0 0.2em;
  padding: 0.1em;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.pageNumber:hover {
  background-color: #5a5560;
  color: #F0DB4F;
}

.pageNumberActive {
  background-color: #F0DB4F;
  color: #5a5560;
}

.noSearchResultBackToContents {
  cursor: pointer;
  color: #543e5d;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

details p {
  cursor: default;
}
/*# sourceMappingURL=blog.css.map */