// importing a font in css
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


// Setting up the colours
$colors: (
    primary: #F0DB4F,
    secondary: #46344E,
    third: #5a5560,
    third-blur: #5a556060,
    accent:  #323330,
    bright: #f0f0f0,
    //light function (normal css funciton, lightens the color by the % amount)
    secondary-light: lighten(#46344E, 5%),
    secondary-dark: darken(#46344E, 5%),
    third-light: lighten(#5a5560, 5%),
    third-light-blur: lighten(#5a5560, 5%),
    third-dark: darken(#5a5560, 5%),
    third-dark-blur: darken(#5a5560, 5%),
    accent-light: lighten(#323330, 5%),
    accent-dark: darken(#323330, 5%),
    bright-dark: darken(#f0f0f0, 15%),
    
    redish: #fb4848,
    redish-trans: #fb4848ce,
    redish-light: lighten(#fb4848, 5%),
    redish-dark: darken(#fb4848, 5%),
    greenish: #48a148,
    greenish-trans: #48a148ce,
    greenish-light: lighten(#48a148, 5%),
    greenish-dark: darken(#48a148, 5%),
    blueish: #4848fb,
    blueish-trans: #4848fbce,
    blueish-light: lighten(#4848fb, 5%),
    blueish-dark: darken(#4848fb, 5%)    
);

// color function
@function color($colorName){
    @return map-get($colors, $colorName)
    // ---------------
    // so whenever we call a call a color we dont need to call map-get($colors...)
    // we can call color(primary) for example
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
    font-family: "Rubik";
    background: linear-gradient(45deg, #f0db4f 25%, #f0f0f0 25%, #f0f0f0 50%, #f0db4f 50%, #f0db4f 75%, #f0f0f0 75%, #f0f0f0 100%) no-repeat center center fixed;
}

.homeBody{
    display: flex;
    margin: 0;
    padding:0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,color(third)25%, color(primary) 60%, color(accent) 75%) no-repeat center center fixed;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
    height: 85vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.innerBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 25vw;
    transform: rotate(45deg);

    transition:all 200ms ease-in;
    
    .innexBoxItems{
        transform: rotate(-45deg);
        transition:all 200ms ease-in;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        box-sizing: border-box;

        i{
            font-size: 5vw;
        }

        p{
            margin: 0;
            text-align:justify;
            display: flex;
            position: absolute;
            transform: scaleY(0);
            transition: all 00ms ease-in;
        }
    }
}

.service1{
    background: color(third-blur);
    box-shadow: 0 8px 32px 0 color(accent-light);
    backdrop-filter: blur(4px);
    border-radius: 70px;
    color: color(bright-dark);
    // overflow-y: scroll;
    // scrollbar-width: none; 
}

.service2{
    background: color(third-blur);
    box-shadow: 0 8px 32px 0 color(accent-light);
    backdrop-filter: blur(4px);
    border-radius: 70px;
    color: color(bright-dark);
    // overflow-y: scroll;
    // scrollbar-width: none;
}

.service3{
    background: color(third-blur);
    box-shadow: 0 8px 32px 0 color(accent-light);
    backdrop-filter: blur(4px);
    border-radius: 70px;
    color: color(bright-dark);
    // overflow-y: scroll;
    // scrollbar-width: none; 
}

.innerBox:hover{
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 10;


    p{
        display: inline;
        position: relative;
        transform: scaleY(1);
    }

    .innexBoxItems{
        transform: rotate(0deg);
    }
}


@media(max-width: 801px){
    .mainContainer{
        display: flex;
        flex-direction: column;
        flex: 1 0 100%;
        height: 90vh;
        justify-content: center;
        align-items: center;
        position: static;
        margin-right: 0;
        margin-top: 3em;
        transform: none;

    }

    .innerBox{
        display: flex;
        flex: 1 1 33%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        min-width: 360px;
        height: 100%;
        margin-bottom: 2em;
        transform: rotate(0);
        padding: 0;
    
        
        .innexBoxItems{
            transform: rotate(0);
            transition:all 200ms ease-in;
    
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0;
            box-sizing: border-box;
    
            i{
                font-size: 15vw;
                // display: none;
            }
    
            p{
                margin: 0;
                text-align:justify;
                display: flex;
                position: none;
                transform: scaleY(0);
                transition: all 00ms ease-in;
            }
        }

        
    }

    .innerBox:hover{
        transform: rotate(0deg);
        z-index: 10;
    
        i{
            display: none;
        }
    
        p{
            display: none;
            position: relative;
            transform: scaleY(1);
        }
    
        .innexBoxItems{
            transform: rotate(0deg);
        }
    }
}