.portfolioNavbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.6em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50vw;
  font-size: 0.9em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolioNavbarItem {
  width: auto;
  height: 1.9em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolioNavbarItem:hover {
  cursor: pointer;
}

.portfolioNavbarItem::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #252624;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.portfolioNavbarItem:hover::after {
  width: 100%;
}

.mainBodyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75vw;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 8em;
  padding: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80vw;
  min-width: 300px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #323330;
  -webkit-box-shadow: 2em 2em 0px #67616e, -2em -2em 0px #5a5560, -4em 4em 0px #4d4952;
          box-shadow: 2em 2em 0px #67616e, -2em -2em 0px #5a5560, -4em 4em 0px #4d4952;
}

.mainElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30vw;
          flex: 1 1 30vw;
  padding: 0.5em;
  margin-top: 1.5em;
  height: 30vw;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

ul span {
  color: #6161fc;
}

li {
  color: inherit;
  list-style: none;
}

.forText {
  overflow-y: scroll;
  scrollbar-width: none;
}

.forText::-webkit-scrollbar {
  display: none;
}

.headerContent {
  font-size: 2em;
}

.portfolioImage {
  margin-top: auto;
  margin-bottom: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.mainElement > .mainParagraph {
  text-align: justify;
}

.mainElement > .portfolioImage {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 500ms ease-in;
  transition: -webkit-transform 500ms ease-in;
  transition: transform 500ms ease-in;
  transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
}

.mainElement > .portfolioImage:hover {
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
}

/* Element order */
.element1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.element2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.element3 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.element4 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.element5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.element6 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.element7 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.element8 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.element9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.element10 {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.element11 {
  -webkit-box-ordinal-group: 13;
      -ms-flex-order: 12;
          order: 12;
}

.element12 {
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
}

.element13 {
  -webkit-box-ordinal-group: 14;
      -ms-flex-order: 13;
          order: 13;
}

.element14 {
  -webkit-box-ordinal-group: 15;
      -ms-flex-order: 14;
          order: 14;
}

/* -------------------------------------- */
/* FOR SMALLER SCREENS */
/* -------------------------------------- */
@media (max-width: 801px) {
  .portfolioNavbarItem {
    display: none;
  }
  .mainBodyContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -4em;
    margin-bottom: 4em;
    padding: 1em;
    width: 100vw;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .mainElement {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .mainElement:nth-child(2n) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-bottom: 1px solid rgba(150, 170, 170, 0.583);
    margin-bottom: 1em;
  }
  .headerContent {
    padding-bottom: 0.5em;
  }
  .forPhoto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* Element order */
  .element1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .element2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .element3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .element4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .element5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .element6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .element7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .element8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .element9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .element10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .element11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .element12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .element13 {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13;
  }
  .element14 {
    -webkit-box-ordinal-group: 15;
        -ms-flex-order: 14;
            order: 14;
  }
}
/*# sourceMappingURL=portfolio.css.map */